doctype html  
html(lang='en')  
    head
        title Homepage
        script(src='/homepage-bundle.js')
    body
        h1 Pug Examples
        div.container
            p Cool Pug example!
        
        div#homepage-chatter

